<script>
    // 1. number
    var n1 = 10;
    var n2 = 10.2321
    // 2. string
    var s1 = '"JS"';
    // 3. boolean
    var b = true;
    // 4. array
    var ar = [1,2,3,4];
    // 5. object - JSON(Java Script Object Notation)
    var o = {'id':'id01', 'name':'james', 'age':10};

    // 배열 안에 자바스크립트 오브젝트가 들어가 있음
    var ar2 = [
        {'id':'id01', 'name':'james', 'age':10},
        {'id':'id02', 'name':'james', 'age':20},
        {'id':'id03', 'name':'james', 'age':30}
    ];

    // 6. function
    var f = function(){};
    // 7. undefined
    var u;

    //alert(n1 + s1); 연산을 하면 문자로
    alert(n1 + parseInt(s1));
    // 확인. alert(typeof(u));
</script>

<section>
    <h1>js02</h1>
</section>